<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="false" thread-count="4">
<listeners>
        <listener class-name="Tools.ExtentReporterNG" />
    </listeners>
  <test name="Test">
  	<groups>
         <define name="fullRegression">
         	<!-- Use include to specify what you want to be part of the Full Regression group -->
            <include name="smokeTest"/>
             <include name="brokenOrDevelopment"/>
            
         </define>

         <run>
			<!-- Use include to specify what you want to run or exclude to not run the mentioned group(s) -->
            <include name="fullRegression"/>
         </run>
      </groups>
    <packages>
		<!-- Packages who contains the test cases classes -->
		<package name="Test"/>       
    </packages>
  </test> <!-- Test -->
</suite> <!-- Suite -->
